<% unless @students.nil?  %>
	<table class="table table-hover">
	    <tr>
 		  <th>Reg No</th>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Action</th>
	    </tr>
 		<% @students.each do |student|  %>
	 		<tr>
 				<td><%= student.regno %></td>
				<td><%= student.first_name + ' ' + student.last_name %></td>
				<td><%= student.email %></td>
 				<td> <%= link_to("View Details", student_path(student), {class: "btn btn-success"}) %> </td>
	 		</tr>
	 	<%  end  %>
 	</table>
 	<%=  will_paginate @students, renderer: BootstrapPagination::Rails %>
<% end  %>
