<!-- form start -->
<!-- <form class="form-horizontal"> -->
<%= form_for @student, html: {class: "form-horizontal"} do |f| %>
<div class="box-body">
	<div class="form-group">
	    <label for="first_name" class="col-sm-2 control-label">Name</label>
	    <div class="col-sm-10">
	  		<%= f.text_field :first_name, class: "form-control",placeholder: "first name"  %>
	   		<%= f.text_field :middle_name, class: "form-control",placeholder: "middle name"  %>
	  		<%= f.text_field :last_name, class: "form-control",placeholder: "last name"  %>
	    </div>
		    	
	</div>
	<div class="form-group">
	   	<label for="email" class="col-sm-2 control-label">Email</label>
	   	<div class="col-sm-10">
	   		<%= f.text_field :email, class: "form-control",placeholder: "email"  %>
		</div>
    </div>
    <div class="form-group">
	    <label class="col-sm-2 control-label">Address</label>
	    <div class="col-sm-10" >
	   		<%= f.text_area :address, size: "3x3", class: "form-control"  %>
	    </div>
	</div>
	<div class="form-group">
	    <label for = "student_state" class="col-sm-2 control-label">State</label>
	    <div class="col-sm-10" >
	        <%=  f.collection_select :state_id, State.all, :id, :name, options = {prompt: "Select State"}, {class: "form-control"} %>
		
	    </div>    
	</div>
	
	<div class="form-group">
       	<label for="inputEmail3" class="col-sm-2 control-label">Pincode</label>
       	<div class="col-sm-10">
       		<%=  f.number_field :pincode, class: "form-control"  %>
		</div>
	<!-- </div> -->
	</div>
	<div class="form-group">
       	<label for="inputEmail3" class="col-sm-2 control-label">Emergency No</label>
       	<div class="col-sm-10">
       		<%=  f.number_field :emergency_no, class: "form-control"  %>
		</div>
	<!-- </div> -->
	</div>

	<div class="form-group">
	    <label for = "student_department" class="col-sm-2 control-label">Department</label>
	    <div class="col-sm-10" >
	        <%=  f.collection_select :department, Department.all, :id, :name, options = {prompt: "Select Department"}, {class: "form-control"} %>
 		</div>
	</div>
    
</div><!-- /.box-body -->
<div class="box-footer">
    <button type="submit" class="btn btn-default pull-right col-sm-1" style="left-padding: 5px">Cancel</button>
    <%= f.submit "Register", class: "btn btn-success pull-right" %>
</div><!-- /.box-footer -->
<% end %>
   <!-- </form> -->
