<%= form_for @course, html: {class: "form-horizontal", remote: true} do |f| %>
  <div id = "new_course_association_modal"class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select the Department</h4>
      </div>
      <div class="modal-body">

        <%=  f.fields_for :course_associations, @course.course_associations.build do |ca| %>
          <div class="form-group">
          <%= ca.label :department, class: "col-sm-2 control-label required" %>
          <div class="col-sm-10" >
            <%=  ca.collection_select :department_id, @department_options, :id, :name, options = {prompt: "Select Department"}, {class: "form-control", required: "true"} %>
          </div>
        </div>
        <div class="form-group">
          <%= ca.label :semester, class: "col-sm-2 control-label required" %>
          <div class="col-sm-10" >
            <%=  ca.select(:semester, options_for_select(1..6), options = {prompt: "Select Semester"}, {class: "form-control", required: "true"} ) %>
          </div>
        </div>
        <div class="form-group">
          <%= ca.label :credit_hour, class: "col-sm-2 control-label required" %>
          <div class="col-sm-10" >
            <%=  ca.select(:credit_hour, options_for_select(1..6), options = {prompt: "Select credit hour"}, {class: "form-control", required: "true"} ) %>
          </div>
        </div>

      <% end  %>

      </div> <!-- /.modal-body -->

      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-success" %>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
